.container{
  max-width: 960px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}

.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}